<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      PACMAN | Private Alternative for Contact Management And Networking
    </title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/0b92670209.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              poppins: ["Poppins"],
            },
          },
        },
      };
    </script>
  </head>

  <body class="bg-neutral-900 font-poppins">
    <nav class="fixed inset-0 w-full h-20 bg-yellow-500">
      <div
        class="w-full h-full flex justify-between items-center mx-auto max-w-4xl p-4"
      >
        <a href="/" class="text-4xl font-bold">PACMAN</a>
        <a href="/export" title="Export to VCF" class="text-4xl">
          <i class="fa-solid fa-download"></i>
        </a>
      </div>
    </nav>

    <main class="w-full min-h-screen pt-24 p-4 flex flex-col gap-4">
      <input
        id="search"
        class="w-full h-10 p-2 border-none rounded bg-neutral-700 text-white"
        placeholder="Search..."
      />
      <ul
        hx-get="/list-contacts"
        hx-trigger="load"
        hx-swap="innerHTML"
        class="w-full flex flex-col items-center gap-2"
      ></ul>
    </main>

    <footer
      class="w-full h-14 bg-neutral-950 text-white grid place-items-center"
    >
      <p>
        Made with <span class="text-rose-500">❤️</span> by
        <a
          href="https://nnisarg.in"
          target="_blank"
          title="Nnisarg's Website"
          class="text-purple-400 underline"
          >Nnisarg</a
        >
      </p>
    </footer>

    <script>
      const searchInput = document.getElementById("search");

      document.body.addEventListener("htmx:afterOnLoad", () => {
        const contactLis = document.querySelectorAll(".contact-li");

        searchInput.addEventListener("input", (e) => {
          const query = e.target.value.toLowerCase();

          contactLis.forEach((li) => {
            const name = li
              .querySelector(".contact-li-name")
              .innerText.toLowerCase();

            if (name.includes(query)) {
              li.style.display = "flex";
            } else {
              li.style.display = "none";
            }
          });
        });
      });
    </script>
  </body>
</html>
