<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      PACMAN | Private Alternative for Contact Management And Networking
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/0b92670209.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              poppins: ["Poppins"],
            },
          },
        },
      };
    </script>
  </head>

  <body class="bg-neutral-900 text-white font-poppins">
    <nav class="fixed inset-0 w-full h-20 bg-yellow-500 text-black">
      <div
        class="w-full h-full flex justify-between items-center mx-auto max-w-4xl p-4"
      >
        <a href="/" class="text-4xl font-bold">PACMAN</a>
        <a href="/export" title="Export to VCF" class="text-4xl">
          <i class="fa-solid fa-download"></i>
        </a>
      </div>
    </nav>

    <main class="w-full min-h-screen pt-24 p-4 flex flex-col gap-4">
      <input
        id="search"
        class="w-full h-10 p-2 border-none rounded bg-neutral-700"
        placeholder="Search..."
      />
      <ul class="w-full flex flex-col items-center gap-2">
        {{range .}}
        <li
          class="contact-li w-full h-20 p-4 bg-neutral-950 flex items-center justify-between gap-4 text-xl rounded"
        >
          <p class="contact-li-name truncate">{{.Name}}</p>
          <p class="contact-li-phone invisible">{{.Phone}}</p>
          <p class="contact-li-email invisible">{{.Email}}</p>
          <a href="/edit?id={{.UUID}}" title="Edit {{.Name}}">
            <i class="fa-solid fa-ellipsis-vertical" aria-hidden="true"></i>
          </a>
        </li>
        {{end}}
      </ul>

      <a
        href="/add"
        title="Add Contact"
        class="fixed bottom-6 right-6 size-16 p-2 text-3xl font-black rounded-full bg-yellow-500 grid place-items-center"
      >
        <i class="fa-solid fa-plus" aria-hidden="true"></i>
      </a>
    </main>

    <footer class="w-full h-14 bg-neutral-950 grid place-items-center">
      <p>
        Made with <span class="text-rose-500">❤️</span> by
        <a
          href="https://nnisarg.in"
          target="_blank"
          title="Nnisarg's Website"
          class="text-purple-400 underline"
          >Nnisarg</a
        >
      </p>
    </footer>

    <script>
      const searchInput = document.getElementById("search");
      const contactLis = document.querySelectorAll(".contact-li");

      searchInput.addEventListener("input", (e) => {
        const query = e.target.value.toLowerCase();

        contactLis.forEach((li) => {
          li.style.display = "none";

          const name = li
            .querySelector(".contact-li-name")
            .innerText.toLowerCase();
          const phone = li
            .querySelector(".contact-li-phone")
            .innerText.toLowerCase();
          const email = li
            .querySelector(".contact-li-email")
            .innerText.toLowerCase();

          if (
            name.includes(query) ||
            phone.includes(query) ||
            email.includes(query)
          ) {
            li.style.display = "flex";
          }
        });
      });
    </script>
  </body>
</html>
